header
  nav
    .row
      .one.column
        a(href="/" class=(path === "/" ? "isActive" : "")) ABOUT
      .one.column 
        a(href="/resume" class=(path === "/resume" ? "isActive" : "")) RESUME
      .one.column
        a(href="/contact" class=(path === "/contact" ? "isActive" : "")) CONTACT