header
  nav
    .row
      .nine.columns.left-nav
        a(href="/" class=(path === "/" ? "isActive" : "")) ABOUT

        a(href="/resume" class=(path === "/resume" ? "isActive" : "")) RESUME

        a(href="/contact" class=(path === "/contact" ? "isActive" : "")) CONTACT
      .three.columns.right-nav
        a(href="/contact")
          img(src="images/git.png", alt="" style="width: 24px")
        a(href="/contact")
          img(src="images/linkedin.png", alt="" style="width: 24px")