header
  nav
    ul
      li
        a(href="/" class=(path === "/" ? "isActive" : "")) About
      li 
        a(href="/resume" class=(path === "/resume" ? "isActive" : "")) Resume
      li
        a(href="/contact" class=(path === "/contact" ? "isActive" : "")) Contact