body {
  color: #4c3d6d;
  font-family: "Roboto", sans-serif;
  background: #16ffbd;
}

header {
  nav {
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
}
