* {
  box-sizing: border-box;
}

body {
  //color: #4c3d6d;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  // background: #16ffbd;
  background-color: #4c3d6d;
  // background-color: #00a88c;
  // background-image: url("../images/dust.png");
  max-width: 960px;
  margin: auto;
}

header {
  nav {
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        a {
          font-weight: 100;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.main {
  .intro {
    text-align: center;
    h1 {
      font-weight: 100;
    }
    p {
      font-weight: 100;
      font-size: 1.2em;
      line-height: 2em;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
}
