* {
  box-sizing: border-box;
}

body {
  //color: #4c3d6d;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  // background: #16ffbd;
  background: #4c3d6d;
}

header {
  nav {
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        a {
          font-weight: 100;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.main {
  .intro {
    h1 {
      font-weight: 100;
    }
    p {
      font-weight: 100;
      font-size: 1.2em;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
}
