html
  head
    title Contact
    include includes/head-tags.pug
  body
    include includes/navigation.pug 
    .container
      form(action="mailto:boisoth@gmail.com" method="POST" enctype="text/plain")
        .row
          .six.columns
            label(for="name") Name
            input.u-full-width(type="text", name="name")
          .six.columns
            label(for="email") Email
            input.u-full-width(type="text", name="email")

        label(for="message") Message
        textarea.u-full-width(name="message", cols="30", rows="10")

    include includes/footer.pug