html
  head
    include includes/head-tags.pug
  body
    .container
      include includes/navigation.pug
      .intro
        .profile
        h1 Welcome! I'm Boi Soth

        p With over 5 years of experience as a software developer, I’ve expanded my knowledge in both frontend and backend web applications. experience includes collaborating with stakeholders and implementing solutions for different areas within the software development lifecycle. I’ve become extremely comfortable with deploying features through the environment chain all the way up to production. I worked alongside designers planning the wireframes/mockups, aligning the technical/business requirements from stakeholders, sizing stories/bugs with product managers and writing integration tests with QA.
    include includes/footer.pug