html
  head
    title Resume
    include includes/head-tags.pug
  body
    include includes/navigation.pug
    .main
      .resume
        h1 Next Generation Scholars
        title Technology Instructor
        p 2018-Present
        p Summary

    include includes/footer.pug