html
  head
    include includes/head-tags.pug
  body
    .container
      include includes/navigation.pug
      .resume

        h5 Education
        p Academy of Art, San Francisco - 2008-2010 <br />Graphic Design - Computer Arts

        h5 Experience
        
        p(style="font-weight: bold; font-size: 1.5rem;") Full Stack Engineer/Founding Engineer, Garage Stash - 2019 - Present
        p This is a personal project that I’ve been building the past couple years which is a P2P marketplace that helps reduce the need of overproducing new products, encouraging the act of barter. I have been building from the backend/platform architecture, front-end/mobile, and now wrapping up the prototype this year. Identified and implemented microservice approach
        ul  
          li Integrated websocket/messaging for user interaction
          li API development/models/services
          li Express web server/MVC/progressive web application architecture
          li React webapp and React-Native frontend
          li Redux/Context API state management
          li Caching strategies/ Redis
          li Payment integrations/ Stripe
          li User authentication - passport.js local/social/Oauth

        p Libraries/Tooling/Technologies: Express, ES5/6, Babel, React, React Native, CSS3, Styled components, Webpack, Websocket, AWS, OOP, FP, Cloud deployment, Oauth, Stripe, Redux, GraphQL, Apollo, MongoDB, Redis

        hr

        p(style="font-weight: bold; font-size: 1.5rem;") Computer Science & Technology Instructor, Next Generation Scholars - March 2018 - Present
        p Next Generation Scholars is a non-profit organization after school program that offers classes that help prepare them to get into 4yr college. I run the computer science and technology section teaching different topics to 12 students. My curriculum is as follows:
        ul
          li HTML fundamentals
          li HTTP protocols
          li CSS3 fundamentals
          li  JS and jQuery fundamentals
          li Git fundamentals
          li Cloud deployment

        hr

        p(style="font-weight: bold; font-size: 1.5rem;") Tech Lead - Front End Developer (Product Marketing and Acquisition/ Applications),
        p Rocket Lawyer - May 2014 - 2017
        p As a Tech Lead Front end developer at Rocket Lawyer, I implemented designs and features that help drive traffic to improve conversions for the product. I played the vital role of engineering projects that directly impacted revenue growth, including Search Engine Optimization (SEO) content and Conversion Rate Optimization (CRO) experiments, while supporting the team with creative, problem solving solutions to improve user experiences.
        ul
          li Worked closely with designers and stakeholders to implement UI changes, features, landing pages, redesigns and functionality to our logged out users
          li Contributed to our document assembly, search, recommendations applications
          li Supported email marketing/salesforce campaigns
          li Developed sitewide reusable/scalable UI components
          li Implemented application strategies to preserve SEO value
          li Guided team with quality code and best practices; improving performance and availability to our web app
          li Developed multivariate experiences to be A/B tested in Optimizely
          li Introduced new development strategies and re-architect all funnels of traffic via paid/organic
          li Created reusable angular services consuming our APIs including web app experiments
          li Wrote automation scripts to assist QA with regression and smoke testing - grunt automation to organize static assets and production builds

        p Webpack, gulpjs, angular2, babel, ES6, typescript, reactjs, redux.
        p Core Technologies: HTML5, CSS3, LESS, JavaScript, Apache Velocity
        p Libraries & Frameworks: jQuery, Foundation 5, AngularJS
        p Automation: Grunt, Gulp, PhantomJS, CasperJS
        p Version Control: Git, Visual Studio (Team Foundation Server)

        p(style="font-weight: bold; font-size: 1.5rem;") Technical Editor, Rocket Lawyer - July 2013 - May 2014
        ul
          li Worked with lawyers and paralegals to create online legal documents and other content
          li Broke down documents, government forms, and letters for use in an online environment, marked up in HTML5, CSS3 and Apache Velocity
          li Worked with technical staff to develop and test interactive forms.
          li Worked with Customer Support and Engineering teams to resolve technical issues with legal documents and other content.

        p Core Technologies: HTML5, SQL, Apache Velocity
        p Version Control: Git, Visual Studio (Team Foundation Server)

        hr

        h5 Skills
        p Procedural, Functional, Object Oriented Programming Paradigms Data Structures & Algorithms Scalability
        p Core Technologies: HTML5, CSS3, LESS, SASS, ES6/7, Apache Velocity, C++, EJS, NodeJS, Handlebars
        p Libraries & Frameworks: jQuery, Bootstrap, Foundation 5, AngularJS, ExpressJS, Ionic, Socket.io, Reactjs, React-Native
        p Automation/Tooling: Grunt, Webpack, Gulp, PhantomJS, CasperJS
        p Version Control: Git, Visual Studio (Team Foundation Server)
    include includes/footer.pug