body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background: #4c3d6d; }

header nav ul {
  list-style-type: none; }
  header nav ul li {
    display: inline-block; }
    header nav ul li a {
      text-decoration: none; }

.main .intro h1 {
  font-weight: 100; }

.main .intro p {
  font-weight: 100; }

footer {
  position: fixed;
  bottom: 0; }
