body {
  background-color: #4c3d6d; }

.isActive {
  text-decoration: underline; }

header nav ul {
  list-style-type: none; }
  header nav ul li {
    display: inline-block; }
    header nav ul li a {
      font-weight: 100;
      color: #ffffff;
      text-decoration: none; }

footer {
  position: fixed;
  bottom: 0; }
